.mork{
    background-color: rgb(13, 13, 13);
    color: rgb(250, 249, 249);
}

.tekstStorrelse{
   font-size: medium;
}

#darkModeButton{
    font-size: small;
}

#midten{
    text-align: center;
    padding: 30px;
}